*{
    margin: 0;
    padding: 0;
}

.grid_uklad{
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    display: grid;
    height: 100vh;
    grid-template-areas: 
    " a b"
    "a c";
}

.gridA{
    grid-area: a;
    background-color: cadetblue;
}
.gridB{
    grid-area: a;
    background-color: rgb(27, 73, 141);
}
.gridC{
    grid-area: a;
    background-color: rgb(218, 5, 136);
}