*{margin: 0;
padding: 0;}

.grid_uklad{
    grid-template-columns: auto auto auto;
grid-template-rows: auto auto ;
display: grid;
height: 100vh;
grid-template-areas: 
"a b c"
"a d e";}

.gridA{
    background-color: darkgreen;
    grid-area: a;
}
.gridB{
    background-color: rgb(216, 38, 177);
    grid-area: b;
}
.gridC{
    background-color: rgb(250, 31, 31);
    grid-area: c;
}
.gridD{
    background-color: rgb(100, 98, 202);
    grid-area: d;
}
.gridE{
    background-color: rgb(203, 223, 27);
    grid-area: e;
}