*
{margin: 0;
padding: 0;}

.grid_uklad{
    display: grid;
    grid-template-columns: auto auto ;
    grid-template-rows: auto auto ;
    height: 100vh;
    grid-template-areas: 
    "a a"
    "b c";
    

}
.gridA {
    background-color: blue;
    grid-area: a;
}
.gridB {
    background-color: chartreuse;
    grid-area: b;
}
.gridC {
    background-color: crimson;
    grid-area: c;
}