* {
    padding: 0;
    margin: 0;
    color: black;
}

table {
    border-collapse: collapse;
}

.str1 {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "a b d" "a c d" "a e d";
}

.str1A {
    background-color: red;
    grid-area: a;
    margin: 5px;
}

.str1B {
    background-color: lime;
    grid-area: b;
    margin: 5px;
}

.str1C {
    background-color: lightskyblue;
    grid-area: c;
    margin: 5px;
}

.str1D {
    background-color: yellow;
    grid-area: d;
    margin: 5px;
}

.str1E {
    background-color: orange;
    grid-area: e;
    margin: 5px;
}


/*=========================================================================================================*/

.str2 {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "a a b b b b" "a a c c f f" "a a d e f f";
}

.str2A {
    background-color: red;
    grid-area: a;
    margin: 5px;
}

.str2B {
    background-color: lime;
    grid-area: b;
    margin: 5px;
}

.str2C {
    background-color: lightskyblue;
    grid-area: c;
    margin: 5px;
}

.str2D {
    background-color: yellow;
    grid-area: d;
    margin: 5px;
}

.str2E {
    background-color: yellow;
    grid-area: e;
    margin: 5px;
}

.str2F {
    background-color: orange;
    grid-area: f;
    margin: 5px;
}


/*=========================================================================================================*/

.str3 {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "a b b" "a c d" "a e e";
}

.str3A {
    background-color: red;
    grid-area: a;
    margin: 5px;
}

.str3B {
    background-color: lime;
    grid-area: b;
    margin: 5px;
}

.str3C {
    background-color: lightskyblue;
    grid-area: c;
    margin: 5px;
}

.str3D {
    background-color: yellow;
    grid-area: d;
    margin: 5px;
}

.str3E {
    background-color: yellow;
    grid-area: e;
    margin: 5px;
}

.str3F {
    background-color: orange;
    grid-area: f;
    margin: 5px;
}


/*=========================================================================================================*/

.str2 {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "a a b b b b" "a a c c f f" "a a d e f f";
}

.str2A {
    background-color: red;
    grid-area: a;
    margin: 5px;
}

.str2B {
    background-color: lime;
    grid-area: b;
    margin: 5px;
}

.str2C {
    background-color: lightskyblue;
    grid-area: c;
    margin: 5px;
}

.str2D {
    background-color: yellow;
    grid-area: d;
    margin: 5px;
}

.str2E {
    background-color: yellow;
    grid-area: e;
    margin: 5px;
}

.str2F {
    background-color: orange;
    grid-area: f;
    margin: 5px;
}


/*=========================================================================================================*/

.str4 {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "b b b" "a c d" "a e e";
}

.str4A {
    background-color: red;
    grid-area: a;
    margin: 5px;
}

.str4B {
    background-color: lime;
    grid-area: b;
    margin: 5px;
}

.str4C {
    background-color: lightskyblue;
    grid-area: c;
    margin: 5px;
}

.str4D {
    background-color: yellow;
    grid-area: d;
    margin: 5px;
}

.str4F {
    background-color: yellow;
    grid-area: f;
    margin: 5px;
}

.str4E {
    background-color: orange;
    grid-area: e;
    margin: 5px;
}


/*=========================================================================================================*/

.str5 {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "a b b" "a c c" "a d d";
}

.str5A {
    background-color: red;
    grid-area: a;
    margin: 5px;
}

.str5B {
    background-color: lime;
    grid-area: b;
    margin: 5px;
}

.str5C {
    background-color: lightskyblue;
    grid-area: c;
    margin: 5px;
}

.str5D {
    background-color: yellow;
    grid-area: d;
    margin: 5px;
}

.str5E {
    background-color: yellow;
    grid-area: e;
    margin: 5px;
}

.str5F {
    background-color: orange;
    grid-area: f;
    margin: 5px;
}


/*=========================================================================================================*/

.str6 {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "a a b b b b" "a a c c f f" "d d d e f f";
}

.str6A {
    background-color: red;
    grid-area: a;
    margin: 5px;
}

.str6B {
    background-color: lime;
    grid-area: b;
    margin: 5px;
}

.str6C {
    background-color: lightskyblue;
    grid-area: c;
    margin: 5px;
}

.str6D {
    background-color: yellow;
    grid-area: d;
    margin: 5px;
}

.str6E {
    background-color: yellow;
    grid-area: e;
    margin: 5px;
}

.str6F {
    background-color: orange;
    grid-area: f;
    margin: 5px;
}


/*=========================================================================================================*/

.str7 {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "a b c" "a d e" "a f g";
}

.str7A {
    background-color: red;
    grid-area: a;
    margin: 5px;
}

.str7B {
    background-color: lime;
    grid-area: b;
    margin: 5px;
}

.str7C {
    background-color: lime;
    grid-area: c;
    margin: 5px;
}

.str7D {
    background-color: lightskyblue;
    grid-area: d;
    margin: 5px;
}

.str7E {
    background-color: orange;
    grid-area: e;
    margin: 5px;
}

.str7F {
    background-color: yellow;
    grid-area: f;
    margin: 5px;
}

.str7G {
    background-color: yellow;
    grid-area: g;
    margin: 5px;
}


/*=========================================================================================================*/

.str8 {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "a a b b c c" "d d d d f f" "e e e e f f";
}

.str8A {
    background-color: red;
    grid-area: a;
    margin: 5px;
}

.str8B {
    background-color: lime;
    grid-area: b;
    margin: 5px;
}

.str8C {
    background-color: lime;
    grid-area: c;
    margin: 5px;
}

.str8D {
    background-color: lightskyblue;
    grid-area: d;
    margin: 5px;
}

.str8E {
    background-color: yellow;
    grid-area: e;
    margin: 5px;
}

.str8F {
    background-color: orange;
    grid-area: f;
    margin: 5px;
}


/*=========================================================================================================*/

.str9 {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "b b b b b b" "b b b b b b" "b b b b b b" "a a c c c d" "a a c c c d" "a a c c c d" "a a c c c d" "a a c c c d" "a a c c c d" "a a c c c d" "e e e e e e" "e e e e e e";
}

.str9A {
    background-color: red;
    grid-area: a;
    margin: 5px;
}

.str9B {
    background-color: lime;
    grid-area: b;
    margin: 5px;
}

.str9C {
    background-color: lightskyblue;
    grid-area: c;
    margin: 5px;
}

.str9D {
    background-color: lightskyblue;
    grid-area: d;
    margin: 5px;
}

.str9E {
    background-color: yellow;
    grid-area: e;
    margin: 5px;
}


/*=========================================================================================================*/

.str10 {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "a a a a b b" "a a a a c c" "d d d e f f";
}

.str10A {
    background-color: red;
    grid-area: a;
    margin: 5px;
}

.str10B {
    background-color: lime;
    grid-area: b;
    margin: 5px;
}

.str10C {
    background-color: lightskyblue;
    grid-area: c;
    margin: 5px;
}

.str10D {
    background-color: yellow;
    grid-area: d;
    margin: 5px;
}

.str10E {
    background-color: yellow;
    grid-area: e;
    margin: 5px;
}

.str10F {
    background-color: orange;
    grid-area: f;
    margin: 5px;
}


/*=========================================================================================================*/

.str11 {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "a a a a b b" "a a a a c c" "a a a a d d";
}

.str11A {
    background-color: red;
    grid-area: a;
    margin: 5px;
}

.str11B {
    background-color: lime;
    grid-area: b;
    margin: 5px;
}

.str11C {
    background-color: orange;
    grid-area: c;
    margin: 5px;
}

.str11D {
    background-color: yellow;
    grid-area: d;
    margin: 5px;
}


/*=========================================================================================================*/

.str12 {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-areas: "a a a a a a a b b b b b b b c c c c c c c" "d d d d e e e e e e f f f f g g g g g g g" "h h h h h h h i i i i i i i g g g g g g g";
}

.str12A {
    background-color: red;
    grid-area: a;
    margin: 5px;
}

.str12B {
    background-color: lime;
    grid-area: b;
    margin: 5px;
}

.str12C {
    background-color: lime;
    grid-area: c;
    margin: 5px;
}

.str12D {
    background-color: lightskyblue;
    grid-area: d;
    margin: 5px;
}

.str12E {
    background-color: rgb(255, 0, 170);
    grid-area: e;
    margin: 5px;
}

.str12F {
    background-color: lightskyblue;
    grid-area: f;
    margin: 5px;
}

.str12G {
    background-color: orange;
    grid-area: g;
    margin: 5px;
}

.str12H {
    background-color: rgb(126, 0, 158);
    grid-area: h;
    margin: 5px;
}

.str12I {
    background-color: yellow;
    grid-area: i;
    margin: 5px;
}